.typography {
  @apply prose prose-zinc prose-headings:scroll-m-20 prose-code:rounded-md prose-code:p-1 prose-code:leading-6 prose-code:before:content-none prose-code:after:content-none prose-pre:border prose-pre:bg-neutral-100 prose-img:rounded-md prose-img:border;
  @apply w-[85vw] !min-w-full pt-2 text-sm prose-code:text-xs sm:mx-auto sm:w-full;
  @apply dark:prose-invert prose-code:text-neutral-800 dark:prose-code:bg-neutral-900 dark:prose-code:text-white dark:prose-pre:bg-neutral-900;
}

.prose {
  margin: 0 !important;
}

.prose ul > li::marker {
  color: hsl(0, 0%, 29%);
}

.dark .prose ul > li::marker {
  color: hsl(0, 0%, 79%);
}

.prose :where([class~="not-prose"] ul > li)::marker {
  color: inherit;
}

.prose
  :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  width: auto;
}

.prose table {
  @apply w-full border-collapse my-6 max-w-full overflow-x-auto block;
}

.prose table > table {
  @apply w-max min-w-full border border-gray-300;
  @apply dark:border-neutral-600;
}

.prose th {
  @apply bg-gray-100 text-left px-4 py-3 font-medium text-gray-800 whitespace-nowrap border-b border-r border-gray-300;
  @apply dark:bg-neutral-800 dark:text-gray-100 dark:border-neutral-600;
}

.prose th:last-child {
  @apply border-r-0;
}

.prose td {
  @apply px-4 py-3 border-b border-r border-gray-300 whitespace-nowrap;
  @apply dark:border-neutral-600;
}

.prose td:last-child {
  @apply border-r-0;
}

.prose tr:last-child td {
  @apply border-b-0;
}

.prose thead {
  @apply bg-gray-100 border-b border-gray-300 sticky top-0;
  @apply dark:bg-neutral-800 dark:border-neutral-600;
}

.prose tbody {
  @apply divide-y divide-gray-100;
  @apply dark:divide-neutral-800;
}

/* 添加水平滚动容器 */
.prose .table-container {
  @apply w-full overflow-x-auto rounded-lg border border-gray-200;
  @apply dark:border-neutral-700;
}
