.typography {
  @apply prose prose-zinc prose-headings:scroll-m-20 prose-code:rounded-md prose-code:p-1 prose-code:leading-6 prose-code:before:content-none prose-code:after:content-none prose-pre:border prose-pre:bg-neutral-100 prose-img:rounded-md prose-img:border;
  @apply w-[85vw] !min-w-full pt-2 text-sm prose-code:text-xs sm:mx-auto sm:w-full;
  @apply dark:prose-invert prose-code:text-neutral-800 dark:prose-code:bg-neutral-900 dark:prose-code:text-white dark:prose-pre:bg-neutral-900;
}

.prose {
  margin: 0 !important;
}

.prose ul > li::marker {
  color: hsl(0, 0%, 29%);
}

.dark .prose ul > li::marker {
  color: hsl(0, 0%, 79%);
}

.prose :where([class~="not-prose"] ul > li)::marker {
  color: inherit;
}

.prose
  :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  width: auto;
}

.prose table {
  @apply border-collapse border border-border;
}

.prose th {
  @apply dark:bg-neutral-900;
}

.prose th,
.prose td {
  @apply border border-border;
  padding: 8px 10px;
}
